#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto --activate
network  --hostname=rhel.domain.com

repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Root password
rootpw --iscrypted $6$nDLsM1naell/IS8o$YF7OWQmsydmDssLv1hdLbZmEOtKQggSYfLLSPRKDHrAt/TG8k3u/PX2QT/0D460PD.QDDSVgQgBwIZ2wB8BBz.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=sejal --password=$6$2/V6Xv/8uea596Ky$ddQXhe/ASl14kQI2rQ5oKalkTWLv3ghl862UTfvXT0h26hc7o1sSEt6oww/MP56/DwFfaKayb5ZcdrB1Z4/bm/ --iscrypted --gecos="sejal"
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.198 --fstype="lvmpv" --ondisk=sda --size=50699
part /boot --fstype="xfs" --ondisk=sda --size=500
volgroup rhel --pesize=4096 pv.198
logvol /home  --fstype="xfs" --size=1000 --name=home --vgname=rhel
logvol /  --fstype="xfs" --size=48691 --name=root --vgname=rhel
logvol swap  --fstype="swap" --size=1000 --name=swap --vgname=rhel

%packages
@^graphical-server-environment
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
